- content_for(:title) { "server configs" }
%div{class: "flex items-center justify-between gap-4 my-6"}
  %h1{class: "v2-page-title"} Server Configs
  = link_to "Add server config", new_server_config_path, class: "v2-btn v2-btn-primary"

%div{class: "v2-table-wrap"}
  %table{class: "v2-table"}
    %thead
      %tr
        %th File
        %th Hidden
    %tbody
      - @server_configs.each do |server_config|
        %tr[server_config]
          %td= link_to(server_config.file, edit_server_config_path(server_config))
          %td= server_config.hidden

- if @pagy
  %div{class: "mt-4"}
    != @pagy.series_nav(:bootstrap)
