---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamUser/ResolveVanityURL/v1/?format=json&key=<STEAM_API_KEY>&vanityurl=ariekanarie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"steamid":"76561197960497430","success":1}}'
  recorded_at: Sun, 10 Aug 2025 10:59:34 GMT
recorded_with: VCR 6.3.1
