= link_to new_reservation_log_upload_path(reservation, :file_name => params[:file_name]), :class => 'btn btn-small btn-success', :title => "logs.tf" do
  Send to logs.tf
  %i.icon-upload
.log
  = simple_format(@log_file)
