/config/initializers/steam.rb
/config/paypal.yml
/config/stripe.yml
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/doc/GeoLite2-City.mmdb
/doc/GeoLite2-ASN.mmdb
/db/*.sqlite3
/public/system/*
/public/uploads/*
/coverage/
/server_logs/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
rspec.html
cucumber.html
