---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamApps/UpToDateCheck/v1?appid=440&version=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"success":true,"up_to_date":false,"version_is_listable":false,"required_version":5257084,"message":"Your
        server is out of date, please upgrade"}}'
  recorded_at: Sun, 01 Sep 2019 11:38:43 GMT
recorded_with: VCR 5.0.0
