---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: capture=true&amount=900&currency=EUR&description=http%3A%2F%2Flocalhost%3A3000+-+1+year&source=src_here&metadata[site_url]=http%3A%2F%2Flocalhost%3A3000&metadata[order_id]=13&metadata[steam_uid]=123456789&metadata[product_name]=1+year
    headers:
      Authorization:
      - Bearer sk_test_
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: 
    headers:
      content-type:
      - application/json
      stripe-version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_here"
          }
        }
  recorded_at: Sun, 26 Feb 2017 15:09:36 GMT
recorded_with: VCR 3.0.3
