= simple_form_for(@paypal_order) do |f|
  .form-inline
    = f.input :product_id, :collection => @products, :label_method => :list_name, :label => false, :include_blank => false

    %button.btn.btn-success{:type => :submit}
      Buy with PayPal
  .form-horizontal

    = f.input :gift, as: "radio_buttons", label: "I'm buying this...", collection: [["For me", false], ["For someone else", true]]
