= simple_form_for(@paypal_order, :html => { :class => 'form-inline' }) do |f|
  = f.input :product_id, :collection => Product.active, :label_method => :list_name, :label => false, :include_blank => false

  %button.btn.btn-success{:type => :submit}
    Donate with PayPal
