= simple_form_for(@map_upload, :html => { :class => 'form-inline' }) do |f|

  = f.input :file, :label => false, :placeholder => 'Map .bsp, .bsp.bz2 or .zip file with maps'

  %button.btn.btn-default{:type => :submit}
    Upload
