= simple_form_for(@map_upload, :html => { :class => 'form-inline' }, data: { turbo: false} ) do |f|

  = f.input :file, :as => :file, :label => false, :placeholder => 'Map file, .bsp only'

  %button.btn.btn-primary{:type => :submit}
    Upload
