.row
  .col-md-12
    %h2 Upload map
    %p You can upload 3 kinds of files
    %ul
      %li .bsp, the uncompressed map
      %li .bsp.bz2, a single compressed map
      %li .zip, an archive containing one or more .bsp files


.row
  .col-md-12
    = render 'form'
