#admin-server-list
  %table.table.table-hover.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Map name
        %th Players
        %th FPS
        %th Inactive
        %th Actions
    - active_servers = servers.order(:name).select { |s| s.recent_server_statistics.any? }
    - inactive_servers = servers.order(:name).select { |s| s.recent_server_statistics.none? }

    - active_servers.each do |server|
      = render 'servers/admin_server_info', server: server.decorate, latest_server_version: latest_server_version
    - inactive_servers.each do |server|
      = render 'servers/admin_server_info', server: server.decorate, latest_server_version: latest_server_version
