.card.mb-3
  .card-body
    .d-flex.justify-content-between.align-items-start
      .flex-grow-1
        %h5.card-title
          %i.fa{class: icon}
          = title
        %p.card-text.text-muted= description
        = render partial: "admin/docker_hosts/step_result", locals: { step: key, result: nil }
      = render partial: "admin/docker_hosts/step_controls", locals: { docker_host: docker_host, step: key, running: false }
