---
http_interactions:
- request:
    method: get
    uri: https://ozfortress.com/api/v1/users/discord_id/123456789012345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-Key:
      - test_api_key
  response:
    status:
      code: 200
      message: ''
    headers: {}
    body:
      encoding: UTF-8
      string: '{"user":{"id":1,"name":"TestPlayer","steam_64":76561198012345678,"steam_64_str":"76561198012345678","discord_id":123456789012345678}}'
  recorded_at: Fri, 23 Jan 2026 09:33:41 GMT
recorded_with: VCR 6.4.0
