.clip_container.clipboard-btn{:id => "#{copy_button_id}_container", :data => { :"clipboard-text" => copy_text } }
  .clip_button{:id => copy_button_id, :title => "Copy to clipboard"}
    %i.fa.fa-copy{:id => "#{copy_button_id}_icon"}>
:javascript
  new Clipboard("##{copy_button_id}_container");
