%a{:href => "https://github.com/Arie/serveme", :target => "_blank"}
  = image_tag 'forkme_right_red_aa0000.png',  :style => "position: absolute; top: 0; right: 0; border: 0;", :alt => "Fork me on GitHub"
