%meta{property: "og:type", content: "website"}
%meta{property: "og:url", content: url}
%meta{property: "og:title", content: title}
%meta{property: "og:description", content: description}
- if local_assigns[:image]
  %meta{property: "og:image", content: image_url(local_assigns[:image])}

%meta{property: "twitter:card", content: "summary_large_image"}
%meta{property: "twitter:url", content: url}
%meta{property: "twitter:title", content: title}
%meta{property: "twitter:description", content: description}
- if local_assigns[:image]
  %meta{property: "twitter:image", content: image_url(local_assigns[:image])}