.row
  .col-md-12
    = link_to "http://tragicservers.com/link.php?id=3", :title => "All servers provided by TragicServers!" do
      = image_tag "server_providers/tragicservers.png", :class => "tragicservers"
