- if current_user.reservations.count >= 5
  .donate.alert.alert-info
    - duration = (current_user.total_reservation_seconds / 3600.0).round
    Hi there! You've made #{duration} hours worth of reservations so far, have you considered donating to keep this service running?
    = render "shared/paypal_button"
