- users_last_reservation = current_user.reservations.last
- if !donator?
  - if current_user.reservations.count > 10
    .row
      .col-md-12
        .donate.alert.alert-danger
          - duration = (current_user.total_reservation_seconds / 3600.0).round
          %h5
            Hi there! You've made #{duration} hours worth of reservations so far, have you considered buying premium to keep this service running?
            = render "shared/paypal_button"