<a name='b_2f608bb0b6390130bca7000d60d4c902'></a><object type='application/x-shockwave-flash' data='https://giving.paypallabs.com/flash/badge.swf' width='205' height='300' id='badge2f608bb0b6390130bca7000d60d4c902' align='middle'>
<param name='allowScriptAccess' value='always' />
<param name='allowNetworking' value='all' />
<param name='movie' value='https://giving.paypallabs.com/flash/badge.swf' />
<param name='quality' value='high' />
<param name='bgcolor' value='#FFFFFF' />
<param name='wmode' value='transparent' />
<param name='FlashVars' value='Id=2f608bb0b6390130bca7000d60d4c902'/>
<embed src='https://giving.paypallabs.com/flash/badge.swf' FlashVars='Id=2f608bb0b6390130bca7000d60d4c902' quality='high' bgcolor='#FFFFFF' wmode='transparent' width='205' height='250' Id='badge2f608bb0b6390130bca7000d60d4c902' align='middle' allowScriptAccess='always' allowNetworking='all' type='application/x-shockwave-flash' pluginspage='http://www.macromedia.com/go/getflashplayer'></embed>
</object>
