%ul
  - premium_server_count = Group.donator_group.servers.active.count
  - if premium_server_count == 1
    %li An extra server
  - if premium_server_count > 1
    %li More servers (#{premium_server_count} premium-only servers)
  %li More than 1 reservation at a time
  %li Longer reservations (5h instead of 2h)
  %li Reservations more than 3 hours ahead of time
  %li Weapon accuracy stats
  %li Map uploads
