%ul
  %li More servers to choose from
  %li Longer reservations (5h instead of 2h)
  %li Longer idle time allowed (60m instead of 30m)
  %li Ability to upload maps
  %li Easier extension of reservations (1h at a time instead of 20m)
  %li More than 1 future reservation allowed
  %li Allowed to make reservations more than 3 hours in the future
  %li No ads

