- if DockerImageReadiness.stale?
  .row
    .col-md-12
      .alert.alert-info
        %i.fa.fa-info-circle
        A TF2 update was just released. Fewer servers than usual may be available while we get them updated.
