:javascript
  try {
    var timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    if (timeZone) {
      document.cookie = 'time_zone=' + timeZone + '; path=/; max-age=31536000; SameSite=Lax';
    }
  } catch (e) {
    // browser too old
  }
