.card.mb-3
  .card-body
    %h5.card-title
      %i.fa.fa-database
      Image status
    %table.table.table-sm.mb-3
      %tbody
        %tr
          %td.fw-bold Local digest
          %td
            - if local_digest.present?
              %code= local_digest.sub(/\Asha256:/, "").first(12)
            - else
              %span.text-muted unknown
        %tr
          %td.fw-bold Registry digest
          %td
            - if registry_digest.present?
              %code= registry_digest.sub(/\Asha256:/, "").first(12)
            - else
              %span.text-muted unavailable
        %tr
          %td.fw-bold Sync
          %td
            - if local_digest.present? && registry_digest.present? && local_digest == registry_digest
              %span.badge.bg-success.text-light In sync
            - else
              %span.badge.bg-warning.text-light Out of sync
    = button_to pull_now_admin_cloud_image_builds_path, class: "btn btn-outline-primary btn-sm text-light" do
      %i.fa.fa-download
      Pull on all hosts now
