.chart{data: { controller: "barchart", barchart_chart_data_value: Statistic.reserved_hours_per_month_chart_data.to_json }}
  %canvas{data: { barchart_target: "myChart" }, style: "height: 250px; width: 100%"}
