- content_for :head do
  %script{:src => 'http://www.google.com/jsapi'}
.chart{:id => "reservations_per_month", :style => "height: 250px"}
  = render_chart(Statistic.reservations_per_month_chart, 'reservations_per_month')
