%div{class: "v2-table-wrap"}
  %table{class: "v2-table"}
    %thead
      %tr
        %th What
        %th The numbers
    %tbody
      %tr
        %td Total reservations
        %td{class: "font-mono"}= Statistic.total_reservations.to_i
      %tr
        %td Total reservation time
        %td{class: "font-mono"}= "#{(Statistic.total_playtime_seconds / 3600.0).round} hours"
