%table.table.table-hover.table-bordered.table-striped
  %thead
    %tr
      %th Who
      %th Reservation count
      %th Premium?
  - @top_10_users_hash.each do |user, count|
    %tr
      %td= link_to(user.nickname, user.steam_profile_url, :target => "_blank")
      %td= count
      %td= t("user.donator.#{!!user.donator?}")
