%div{class: "v2-table-wrap"}
  %table{class: "v2-table"}
    %thead
      %tr
        %th Which
        %th Reservation count
    %tbody
      - @top_10_servers_hash.each do |server_name, count|
        %tr
          %td= server_name
          %td{class: "font-mono"}= count
