- content_for(:title) { "FAQ" }

.row
  .col-md-12
    %h2 FAQ

    .card-body.lead.text-white
      Hey there, we hope you're enjoying serveme.tf. Here we'll try to answer your questions :)

    .card.bg-faded
      .card-header.text-white
        Q: What is this?
      .card-body
        %em A: This is the easiest way to borrow a TF2 server!

    .card.bg-faded
      .card-header.text-white
        Q: Is this completely free?
      .card-body
        %em A: Yep, but there are perks for those who help us pay the bills by donating.

    .card.bg-faded
      .card-header.text-white
        Q: Free huh? I guess these servers run on toasters with 3rd world internet!
      .card-body
        %em A: Our servers are provided by community members with years of experience running TF2 servers. And we're not tied to one location or country, so if you have a bad routing to one server, you can try another in a different location/country.

    .card.bg-faded
      .card-header.text-white
        Q: What can I use this for?
      .card-body
        %em
          A: You're allowed to use serveme for anything vaguely related to competitive TF2.
          1v1 practice, private clan practice, pcw's, scrims, mixes, lobbies or officials.
          Basically anything that's not a pub or MvM match.

    .card.bg-faded
      .card-header.text-white
        Q: What do I get for donating?
      .card-body
        %em
          A: Premium users get these benefits:
          %ul
            %li More servers to choose from
            %li Longer reservations (5h instead of 2h)
            %li Ability to upload maps
            %li Easier extension of reservations (1h at a time instead of 20m)
            %li More than 1 future reservation allowed
            %li Allowed to make reservations more than 3 hours in the future
        = render "shared/paypal_button"

    .card.bg-faded
      .card-header.text-white
        Q: Can I use serveme for MvM?
      .card-body
        %em A: Nope, sorry. MvM is about twice as resource intensive as a highlander match, and that might cause other games on the same server to lag.

    .card.bg-faded
      .card-header.text-white
        Q: Noone can connect to my server, what do I do?
      .card-body
        %em A: It can take a couple of minutes for the server to start (and update to the latest TF2 version), please be patient. If the server isn't up after 5 minutes, try another one.


    .card.bg-faded
      .card-header.text-white
        Q: How do I manage the server?
      .card-body
        %em
          A: The RCON password is your "admin password", if you have it, you can do all the server commands with it that normal users without it can't.
          To use it, type "rcon_password PASSWORD" in console, and if you aren't in the server, you must also do "rcon_address IP:PORT".

    .card.bg-faded
      .card-header.text-white
        Q: What commands are available inside the server chat?
      .card-body
        %em
          A: If you are the one that has reserved the server. Here are some handy commands you can use from within the server chat:
          %table.table
            %tr
              %td
                !rcon
              %td
                This runs whatever you placed after the cmd (with a space as rcon) for example you can run "```!rcon changelevel koth_product```" to change the map on the server to koth_product
            %tr
              %td
                !extend
              %td
                Extends the time of the reservation by 1 hour. However this will only work if the server is free to reserve.
            %tr
              %td
                !end
              %td
                Ends the reservation and kicks all players
      .card-body
        %em
        These commands are available to everyone:
        %table.table
          %tr
            %td
              !who
            %td
              Returns the name of the user that reserved the server
          %tr
            %td
              !timeleft
            %td
              Lists the number of minutes left in the reservation

    .card.bg-faded
      .card-header.text-white
        Q: How do I change the map?
      .card-body
        %em
          A: Assuming you don't want to play on ctf_turbine, you'll want to change the map:
          "rcon changelevel MAPNAME"

    .card.bg-faded
      .card-header.text-white
        Q: What maps are there?
      .card-body
        %em
          A: You can simply type "rcon maps *" for the console to list you all the maps installed on the server. There are quite a few, and premium users can add new maps.

    .card.bg-faded
      .card-header.text-white
        Q: I want to change my config.
      .card-body
        %em
          A: The command is "rcon exec CONFIGNAME", some of the available configs:
          %table.table
            %tr
              %td
                %span.badge.badge-info ETF2L:
              %td
                etf2l, etf2l_6v6, etf2l_9v9, etf2l_6v6_5cp, etf2l_6v6_ctf, etf2l_6v6_stopwatch, etf2l_9v9_5cp, etf2l_9v9_ctf, etf2l_9v9_koth,
                etf2l_9v9_stopwatch, etf2l_ultiduo, etf2l_bball
            %tr
              %td
                %span.badge.badge-danger UGC:
              %td
                ugc_4v_koth, ugc_4v_sd, ugc_4v_standard, ugc_4v_stopwatch, ugc_4v_tugofwar, ugc_6v_ctf, ugc_6v_koth, ugc_6v_standard,
                ugc_6v_stopwatch, ugc_HL_ctf, ugc_HL_dom, ugc_HL_koth, ugc_HL_standard, ugc_HL_stopwatch, ugc_HL_tugofwar
            %tr
              %td
                %span.badge.badge-success ESEA:
              %td
                esea/ctf, esea/koth, esea/push, esea/stopwatch
    .card.bg-faded
      .card-header.text-white
        Q: I want to use serveme.tf in one of my own projects, is there an API?
      .card-body
        %em
          A: Yep! You can read how to use it
          = link_to("here.", "https://github.com/Arie/serveme/blob/master/README.md")
          Contact me for an API key, or get premium and look in your settings.

    .card.bg-faded
      .card-header.text-white
        Q: What does "1-click-server" mean?
      .card-body
        %em
          A: When you press this button, we try to make a reservation based on your previous one with just 1 click. Same settings, same server, 2 hour reservation starting now. If your previous server is in use, we'll try a server on the same machine. If all servers on the machine are busy, we'll try a server in the same country. If all those are busy we try any server that's free and available for you.

    .card.bg-faded
      .card-header.text-white
        Q: How long do you store the demos/logs for a match?
      .card-body
        %em
          A: You can download the demos/logs zip for a reservation you created or played in for 21 days.

    .card.bg-faded
      .card-header.text-white
        Q: I can't find my question in this FAQ
      .card-body
        %em
          A: Leave a comment at the bottom of this page with your question and we'll get it answered ASAP.

.row
  .col-md-12
    = render 'shared/disqus'
