.row
  .span10
    %h2 FAQ

    %p.lead
      Hey there, we hope you're enjoying the FakkelBrigade Server Reservation System, or Serveme. Here we'll try to answer your questions :)


    .well
      %p.text-success
        Q: Is this completely free?
      %p 
        %em Yes, it is completely free for everyone to use!

    .well
      %p.text-success
        Q: What do I get for donating?
      %p
        %em
          A: Donators that donate 5 euros or more get some nice benefits:
          %ul
            %li More servers to choose from (4 extra donator-only servers in 4 different datacenters)
            %li Longer initial reservation durations (5h instead of 2h)
            %li Longer idle reservation durations (45m instead of 30m)
            %li Easier extension of reservations (1h at a time instead of 20m)

    .well
      %p.text-success
        Q: Noone can connect to my server, what do I do?
      %p
        %em A: It can take a couple of minutes for the server to start (and update to the latest TF2 version), please be patient. If the server isn't up after 5 minutes, try another one.

    .well
      %p.text-success
        Q: How do I use this with a lobby?
      %p
        %em A: You need to check "Disable STV" when setting up your reservation, because TF2Lobby counts Source TV as a player, and the server needs to be empty.


    .well
      %p.text-success
        Q: How do I manage the server?
      %p 
        %em
          A: The RCON password is your "admin password", if you have it, you can do all the server commands with it that normal users without it can't.
          To use it, type "rcon_password PASSWORD" in console, and if you aren't in the server, you must also do "rcon_adress IP:PORT".

    .well
      %p.text-success
        Q: Why do all my reservations start on ctf_turbine? I hate that map!
      %p
        %em
          A: Sometimes the STV setting doesn't get applied on the first map. So you might have an STV when you didn't want one, or don't have an STV when you did.
          As a workaround, we boot all servers on ctf_turbine, the idea being that noone wants to play that map ;)

    .well
      %p.text-success
        Q: How do I change the map?
      %p 
        %em
          A: Assuming you don't want to play on ctf_turbine, you'll want to change the map:
          "rcon changelevel MAPNAME"

    .well
      %p.text-success
        Q: What maps are there?
      %p
        %em
          A: You can simply type "rcon maps *" for the console to list you all the maps installed on the server. There are quite a few, if you're missing a map, leave a comment on the homepage.

    .well
      %p.text-success
        Q: I want to change my config.
      %p
        %em
          A: The command is "rcon exec CONFIGNAME", configs available: 
          %table.table
            %tr
              %td
                %span.label.label-info ETF2L:
              %td
                etf2l, etf2l_6v6, etf2l_9v9, etf2l_6v6_5cp, etf2l_6v6_ctf, etf2l_6v6_stopwatch, etf2l_9v9_5cp, etf2l_9v9_ctf, etf2l_9v9_koth, etf2l_9v9_stopwatch, etf2l_ultiduo, etf2l_bball
            %tr
              %td
                %span.label.label-important UGC:
              %td
                ugc_HL_ctf, ugc_HL_koth, ugc_HL_standard, ugc_HL_stopwatch, ugc_HL_tugofwar
            %tr
              %td
                %span.label.label-warning Wireplay:
              %td
                wpkoth, wptf2l, wp9v9cp, wp9v9ctf, wp9v9koth, wp9v9sw
            %tr
              %td
                %span.label.label-success ESEA:
              %td
                esea/ctf, esea/koth, esea/push, esea/stopwatch
    .well
      %p.text-success
        Q: I can't find my question in this FAQ
      %p
        %em
          A: Leave a comment at the bottom of this page with your question and we'll get it answered ASAP.

.row
  .span10
    = render 'shared/disqus'
