- content_for(:title) { "FAQ" }

.row
  .col-md-12
    %h2 FAQ

    %p.lead
      Hey there, we hope you're enjoying serveme.tf. Here we'll try to answer your questions :)

    .well
      %p.text-success
        Q: What is this?
      %p
        %em A: This is the easiest way to borrow a TF2 server!

    .well
      %p.text-success
        Q: Is this completely free?
      %p
        %em A: Yep, but there are perks for those who help us pay the bills by donating.

    .well
      %p.text-success
        Q: What can I use this for?
      %p
        %em
          A: You're allowed to use serveme for anything vaguely related to competitive TF2.
          1v1 practice, private clan practice, pcw's, scrims, mixes, lobbies or officials.
          Basically anything that's not a pub or MvM match.

    .well
      %p.text-success
        Q: What do I get for donating?
      %p
        %em
          A: Donators get these benefits:
          %ul
            %li Longer reservations (5h instead of 2h)
            %li Longer idle time allowed (60m instead of 30m)
            %li Ability to upload maps
            %li Easier extension of reservations (1h at a time instead of 20m)
            %li More than 1 future reservation allowed
            %li Allowed to make reservations more than 3 hours in the future
            %li No ads
      = render "shared/paypal_button"

    .well
      %p.text-success
        Q: Can I use serveme for MvM?
      %p
        %em A: Nope, sorry. MvM is about twice as resource intensive as a highlander match, and that might cause other games on the same server to lag.

    .well
      %p.text-success
        Q: Noone can connect to my server, what do I do?
      %p
        %em A: It can take a couple of minutes for the server to start (and update to the latest TF2 version), please be patient. If the server isn't up after 5 minutes, try another one.


    .well
      %p.text-success
        Q: How do I manage the server?
      %p
        %em
          A: The RCON password is your "admin password", if you have it, you can do all the server commands with it that normal users without it can't.
          To use it, type "rcon_password PASSWORD" in console, and if you aren't in the server, you must also do "rcon_address IP:PORT".

    .well
      %p.text-success
        Q: How do I change the map?
      %p
        %em
          A: Assuming you don't want to play on ctf_turbine, you'll want to change the map:
          "rcon changelevel MAPNAME"

    .well
      %p.text-success
        Q: How can I enable sv_cheats?
      %p
        %em
          A: The TFTrue plugin enforces some competitive settings, but you can override this:
          rcon tftrue_tournament_insecure 1; rcon sv_cheats 1

    .well
      %p.text-success
        Q: What maps are there?
      %p
        %em
          A: You can simply type "rcon maps *" for the console to list you all the maps installed on the server. There are quite a few, if you're missing a map, leave a comment on the homepage.

    .well
      %p.text-success
        Q: I want to change my config.
      %p
        %em
          A: The command is "rcon exec CONFIGNAME", some of the available configs: 
          %table.table
            %tr
              %td
                %span.label.label-info ETF2L:
              %td
                etf2l, etf2l_6v6, etf2l_9v9, etf2l_6v6_5cp, etf2l_6v6_ctf, etf2l_6v6_stopwatch, etf2l_9v9_5cp, etf2l_9v9_ctf, etf2l_9v9_koth,
                etf2l_9v9_stopwatch, etf2l_ultiduo, etf2l_bball
            %tr
              %td
                %span.label.label-danger UGC:
              %td
                ugc_4v_koth, ugc_4v_sd, ugc_4v_standard, ugc_4v_stopwatch, ugc_4v_tugofwar, ugc_6v_ctf, ugc_6v_koth, ugc_6v_standard,
                ugc_6v_stopwatch, ugc_HL_ctf, ugc_HL_dom, ugc_HL_koth, ugc_HL_standard, ugc_HL_stopwatch, ugc_HL_tugofwar
            %tr
              %td
                %span.label.label-warning Wireplay:
              %td
                wpkoth, wptf2l, wp9v9cp, wp9v9ctf, wp9v9koth, wp9v9sw
            %tr
              %td
                %span.label.label-success ESEA:
              %td
                esea/ctf, esea/koth, esea/push, esea/stopwatch
    .well
      %p.text-success
        Q: I can't find my question in this FAQ
      %p
        %em
          A: Leave a comment at the bottom of this page with your question and we'll get it answered ASAP.

.row
  .col-md-12
    = render 'shared/disqus'
