<!DOCTYPE html>
<html>
<head>
<title>serveme.tf temporarily offline</title>
    <style type="text/css">
    body {
        width: 500px;
        margin: 100px auto;
        font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    }

    h1 {
        font-weight: 300;
    }
    </style>
</head>
<body>
    <div class="maintenance">
      <h1>serveme.tf temporarily offline</h2>

      <p>The system is down, reason: <%= reason ? reason : "upgrades" %><br>

      <p>It'll be back online <%= deadline ? deadline : "soon" %>.</p>
      <img style="width: 100%" src="/assets/maintenance.gif" />
    </div>
</body>
</html>
