%h2 Servers (updated once per minute)

.row
  .span12
    %table.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Map name
          %th Players
          %th FPS
          %th CPU%
          %th Traffic in
          %th Traffic out
          %th Uptime
          %th Inactive
      - @servers.each do |server|
        = render 'server_info', :server => server.decorate
