%h2 Servers (updated once per minute)

.row
  .span12
    %table.table.table-hover.table-bordered.table-striped.datatable
      %thead
        %tr
          %th Name
          %th Map name
          %th Players
          %th FPS
          %th CPU%
          %th Traffic in
          %th Traffic out
          %th Uptime
          %th Inactive
      %tbody
        - @servers.each do |server|
          = render 'server_info', :server => server.decorate

:javascript
  $('.datatable').dataTable({
    "sDom": "<'row-fluid'<'span6'><'span6'>r>t<'row-fluid'<'span6'><'span6'>>",
    "iDisplayLength": "50",
    "sPaginationType": "bootstrap"
  }); 
