- content_for(:title) { "pings" }
%h2 Server Pings (continuous updates)

#server-pings{data: { controller: "ping" }}
  %table.table.table-hover.table-bordered.table-striped{data: { ping_target: "table" }}
    %thead
      %tr
        %th Name
        %th Location
        %th IP
        %th Ping
    - @servers.uniq { |s| s.public_ip }.each do |server|
      %tr{data: { ip: server.public_ip }}
        %td= server.name.gsub(/\s+#?\d+.*$/, '')
        %td= server.location&.name
        %td= server.public_ip
        %td.ping Checking...
  .mt-4
    %canvas{data: { ping_target: "chart" }, style: "width: 100%; height: 400px;"}
