local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

cloudflare:
  service: S3
  endpoint: https://<%= Rails.application.credentials.dig(:cloudflare, :account_id) %>.r2.cloudflarestorage.com
  access_key_id: <%= Rails.application.credentials.dig(:cloudflare, :access_key_id) %>
  secret_access_key: <%= Rails.application.credentials.dig(:cloudflare, :secret_access_key) %>
  region: auto
  bucket: <%= Rails.application.credentials.dig(:cloudflare, :bucket) %>
  public: true

minio:
  service: S3
  endpoint: <%= Rails.application.credentials.dig(:minio, :endpoint) %>
  access_key_id: <%= Rails.application.credentials.dig(:minio, :access_key_id) %>
  secret_access_key: <%= Rails.application.credentials.dig(:minio, :secret_access_key) %>
  region: auto
  bucket: <%= Rails.application.credentials.dig(:minio, :bucket) || SITE_HOST %>
  public: false
  force_path_style: true

seaweedfs:
  service: S3
  endpoint: <%= Rails.application.credentials.dig(:seaweedfs, :endpoint) %>
  access_key_id: "dummy"
  secret_access_key: "dummy"
  region: auto
  bucket: <%= Rails.application.credentials.dig(:seaweedfs, :bucket) || SITE_HOST %>
  public: false
  force_path_style: true
  http_read_timeout: 600
  http_idle_timeout: 300
  http_open_timeout: 300
