:javascript
  var datepicker_options = {
    autoclose: true,
    minuteStep: 1,
    startView: 1,
    todayHighlight: true,
    startDate: "#{I18n.l(Time.now, :format => :datepicker)}}",
    format: 'dd-mm-yyyy hh:ii'
  };
  $('#reservation_starts_at').datetimepicker(datepicker_options);
  $('#reservation_ends_at').datetimepicker(datepicker_options)
