= link_to reservation.zipfile_url, class: 'btn btn-sm btn-info', title: 'Download a zip with the logs and demos of the match', data: { controller: 'reveal-download' } do
  Zip file
  %i.fa.fa-download
