%div{id: "reservation_rcon_info_#{reservation.id}", class: "flex flex-wrap items-center gap-2"}
  - if reservation&.server&.sdr? && (user = current_user rescue nil) && !(user.admin? || user.league_admin? || user.streamer?)
    %p{class: "text-muted"} RCON is not available for SDR servers, use !rcon in chat
  - else
    %span{class: "v2-connect"}= reservation.rcon_string
    = render 'shared/copy_button', :copy_button_id => "rcon_string", :copy_text => reservation.rcon_string
