<div class="rcon-response" data-controller="rcon-response">
  <div class="rcon-response-header">
    <span class="rcon-response-command"><%= command %></span>
    <button type="button" class="rcon-response-close" data-action="click->rcon-response#close" aria-label="Close">&times;</button>
  </div>
  <pre class="rcon-response-body"><%= result %></pre>
</div>
