.row
  .span10
    - server_groups.each do |group|
      %table.servers.table.table-hover.table-bordered.table-striped
        %thead
          %tr
            %th= "Reservable by: #{group[:name]}"
            %th Reservations
            %th.actions &nbsp;
        - group[:servers].each do |server|
          = render :partial => 'server_reservations', :locals => { :server => server.decorate }
