.row
  .span8
    %table.servers.table.table-hover.table-bordered.table-striped
      %thead
        %tr
          %th Server
          %th Reservations
          %th.actions &nbsp;
      - servers.each do |server|
        = render :partial => 'server_reservations', :locals => { :server => server.decorate }
