.progress.my-2{id: dom_id(reservation, :zip_download_progress), style: "height: 20px;"}
  = render partial: "reservations/zip_download_progress_bar", locals: { reservation: reservation, progress: progress, message: message }
