<%= turbo_stream_from "reservation_#{@logsecret}_log_lines" %>
<div class="row">
  <div class="col-md-12">
    <pre id="<%= "reservation_#{@logsecret}_log_lines" %>">
<% @log_lines.each_with_index do |line, idx| %><%= render "reservations/log_line", log_line: line %><%= idx == 0 ? "\n" : "" %><% end %>
    </pre>
  </div>
</div>