%ul.rcon-autocomplete{data: { controller: "suggestions-results", "suggestions-results-current-class": "current-result" } }
  - if @suggestions.any?
    - @suggestions.each do |suggestion|
      - if @query != suggestion
        %li{data: { action: "click->suggestions#fillInput", suggestion: suggestion, "suggestions-results-target": "result" } }
          = suggestion