p.help-block
  color: #888
  display: inline-block
  margin-left: 15px

form.form-inline
  .control-group, .controls
    display: inline-block

td.actions
  a
    margin-right: 3px

span.help-inline
  color: #b94a48

ul#serveme_links
  margin-left: -15px

ul.unstyled
  list-style-type: none

span.donator, #voucher-claim-url
  color: gold
  text-shadow: 1px 1px 0 black

main
  padding-top: 1em

.fast-spin
  -webkit-animation: fa-spin 0.6s infinite linear
  animation: fa-spin 0.6s infinite linear
