p.help-block
  color: #888
  font-size: 12px
  display: inline-block
  margin-left: 15px

form.form-inline
  .control-group, .controls
    display: inline-block

td.actions
  a
    margin-right: 3px

span.help-inline
  color: #b94a48

ul#serveme_links
  margin-left: -15px

.navbar
  margin-bottom: 0px
  border-radius: 0px

ul.unstyled
  list-style-type: none

span.donator, #voucher-claim-url
  color: gold
  +text-shadow(black 1px 1px 0)


ul.octocat, ul.twitter
  padding: 10px 0px 0px 10px
  img
    width: 24px
    height: 24px
