.navbar
  .account
    margin-top: 15px
    a
      &:hover
        text-decoration: underline

.theme_switcher
  display: inline-block
  margin-left: 5px
  .color
    border-radius: 50%/50%
    width: 13px
    height: 13px
    &.white
      border: 1px solid #000
      background-color: #fff
    &.black
      border: 1px solid #fff
      background-color: #000
