.navbar.navbar-expand-md
  .navbar-brand
    a
      &:hover
        text-decoration: underline
    .dropdown-toggle
      margin-right: 0.5rem

  .navbar-nav
    .nav-link
      padding-left: 0.75rem
      padding-right: 0.75rem
    .nav-item.dropdown
      .nav-link
        &:hover
          border-bottom: 0

  a
    &:hover
      text-decoration: none
  .account
    a
      &:hover
        text-decoration: underline

  .octocat, .discord
    float: left
    font-size: 0.8rem
    padding-right: 0.5em

  .account .player-name-compact
    max-width: 150px

// Between lg and xl: icon-only nav labels
@media (min-width: 768px) and (max-width: 1199.98px)
  .nav-label
    display: none

.nav-icon, .nav-icon-lg
  vertical-align: middle
  margin-right: 0.5rem

.nav-icon
  width: 1rem
  height: 1rem

.nav-icon-lg
  width: 1.5rem
  height: 1.5rem
