form.paypal-button
  display: inline-block
  margin-bottom: 0px
.paypal
  margin-bottom: 20px

form#new_paypal_order
  select#paypal_order_product_id
    width: 250px

.form.credit-card
  label
    width: 150px
  label, input
    display: inline-block
  .input
    display: block

  a.btn.payment-method
    &:active, &:hover, &:focus
      background-color: gold

