form#new_reservation
  label.checkbox
    display: inline-block
    padding-top: 0px
  &.time_selection
    input
      width: 161px

form.reservation
  .form-check-input.is-valid.boolean.optional ~ .form-check-label
    color: #aaa

  .submit-row
    padding-bottom: 2rem

  .form-control.whitelist
    padding-left: 0rem
    background: 0
    border: 0 none
    color: #aaa

  i.fa-refresh
    display: none

#reservation_status_message
  display: inline-block

.reservation_whitelist_type
  .controls
    margin-top: 5px
  input
    margin-top: -1px
  span
    padding-left: 3px
    padding-right: 15px

table
  td.actions
    .btn-sm
      font-size: 0.7rem

table.servers
  td.actions
    width: 150px
    text-align: center
  td
    vertical-align: middle
    ul.unstyled
      padding: 0
      margin: 0

  td.server_name
    padding-top: 15px

.select2-container
  width: 100%
  .select2-choice
    span.flags
      display: inline-block
      margin-right: 5px

.servers_selection
  margin-top: 20px

.donate
  h4
    margin-bottom: 0px

#server_reservations_table
  display: none

.server_reservations
  padding-left: 1rem
  .server
    margin-bottom: 2px
    .name
      display: inline-block
      cursor: pointer
      &:hover
        text-decoration: underline
    .reservations
      position: relative
      display: inline-block
      overflow: hidden
      height: 20px
      .gantt
        cursor: pointer
        display: inline-block
        position: absolute
        overflow: hidden
        text-align: center
        height: 20px
        background-color: #428bca
        border-left: 1px white
        .progress-bar
          font-size: 10px
.buy_premium
  display: none

#refresh-ping
  i
    cursor: pointer

.donator-nag
  img
    float: left

.form-inline.rcon-command
  .reservation_rcon_command
    input
      width: 400px

pre.web-rcon-log-lines
  overflow: hidden