form#new_reservation
  span.inline
    .starts_at
      .control-group
        width: 400px
    .starts_at, .ends_at
      .label
        display: inline-block
        width: 32px
        text-align: center
    .ends_at
      .label
        margin-left: 10px
    div, label
      display: inline-block
      &.controls
        margin-left: 10px
    label
      margin-right: 10px
  label.checkbox
    width: 200px
    display: inline-block
    input#reservation_disable_source_tv
      margin-top: 7px

.reservation_whitelist_type
  .controls
    margin-top: 5px
  input
    margin-top: -1px
  span
    padding-left: 3px
    padding-right: 15px

table.servers
  td.actions, td.actions
    width: 150px
    text-align: center
  td
    vertical-align: middle
    ul.unstyled
      padding: 0
      margin: 0

.select2-container
  width: 220px
  .select2-choice
    span.flags
      display: inline-block
      margin-right: 5px
