.jumbotron
  .buttons
    .btn
      margin-right: 10px
  h6
    margin-bottom: 0
.donation_target
  .progress
    height: 1.5rem
  .progress-bar
    min-width: 2.5rem
  strong
    padding: 0 1.5em
    color: #fff
