// Players page specific styles

.alert .btn
  text-decoration: none

.alert .btn:hover,
.alert .btn:focus,
.alert .btn:active
  text-decoration: none

// Badge alignment for player counts
h3 .badge
  vertical-align: middle