---
http_interactions:
- request:
    method: get
    uri: https://api.gameye.com/fetch/match
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer api-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"match":{"3242343243242342343242":null,"3242343243242342343242111":null,"34234532412312312312312111":null,"984328059238432094823":null,"localhost-616389":null,"serveme.tf-899329":null,"serveme.tf-899339":null,"test-serveme-1":null,"test-serveme-001":null,"serveme.tf-899374":null,"serveme.tf-899404":null,"serveme.tf-899436":null,"serveme.tf-899461":null,"serveme.tf-899463":null,"serveme.tf-899465":null,"serveme.tf-899468":null,"serveme.tf-899490":null,"serveme.tf-899514":null,"serveme.tf-899547":null,"serveme.tf-899588":null,"serveme.tf-899598":null,"serveme.tf-899600":null,"serveme.tf-899604":null,"serveme.tf-899623":null,"serveme.tf-899640":null,"serveme.tf-899656":null,"serveme.tf-899668":null,"serveme.tf-899838":null,"serveme.tf-899843":null,"serveme.tf-899844":null,"serveme.tf-899845":null,"serveme.tf-899846":null,"serveme.tf-899936":null,"serveme.tf-900067":null,"serveme.tf-900098":null,"serveme.tf-900105":null,"serveme.tf-900109":null,"serveme.tf-900121":null,"serveme.tf-900123":null,"serveme.tf-900124":null,"serveme.tf-900158":null,"serveme.tf-900159":null,"serveme.tf-900212":null,"serveme.tf-900232":null,"serveme.tf-900235":null,"serveme.tf-900253":null,"serveme.tf-900263":null,"serveme.tf-900394":null,"serveme.tf-900407":null,"serveme.tf-900408":null,"serveme.tf-900435":null,"serveme.tf-900490":{"matchKey":"serveme.tf-900490","gameKey":"tf2-serveme","locationKey":"frankfurt","host":"178.162.194.76","created":1557584928083,"port":{"game":55349,"stv":57168}},"localhost-12345":{"matchKey":"localhost-12345","gameKey":"tf2-serveme","locationKey":"frankfurt","host":"178.162.194.76","created":1557585370561,"port":{"game":49333,"stv":56657}}}}'
  recorded_at: Sat, 11 May 2019 14:54:06 GMT
recorded_with: VCR 4.0.0
