- content_for(:title) { "New Product" }

.row
  .col-md-12.col-lg-6.offset-lg-2
    %h2 New Product

.row
  .col-md-12.col-lg-6.offset-lg-2
    = simple_form_for(@product, wrapper: :horizontal_form, html: { class: 'form-horizontal product' }) do |f|
      = render 'form', f: f

      .row.submit-row
        .col-lg-2
          %button.btn.btn-warning{type: :submit, data: { disable_with: "Saving..."}}
            Save
        .col-lg-2
          = link_to "Cancel", products_path, class: "btn btn-secondary"