.row
  .col-md-12
    %h2
      Claim voucher code
    - if @voucher.product
      %h3
        #{@voucher.product.name}

.row
  .col-md-12

    %p With a voucher code you can get premium status, here are the perks:

    = render "shared/perks"

.row
  .col-md-12.form-inline
    = simple_form_for(Voucher.new) do |f|
      = f.input :code, :class => "col-md-10 form-control required", autofocus: true

      %button.btn.btn-warning{:type => :submit}
        Claim
