---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=900&currency=EUR&payment_method=pm_card_visa&confirm=true&description=http%3A%2F%2Flocalhost%3A3000+-+1+year&return_url=http%3A%2F%2Flocalhost%3A3000%2Forders%2Fstripe_return&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&metadata[site_url]=http%3A%2F%2Flocalhost%3A3000&metadata[order_id]=857&metadata[steam_uid]=123456789&metadata[product_name]=1+year
    headers:
      Authorization:
      - Bearer <STRIPE_TEST_KEY>
      Idempotency-Key:
      - 8ee9bc28-da50-47a6-8a6c-8af728258fb6
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8ee9bc28-da50-47a6-8a6c-8af728258fb6
      Original-Request:
      - req_6zgimEUhPo1IE8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_test_payment_intent",
          "object": "payment_intent",
          "amount": 900,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 900,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_test_payment_intent_secret_8uOh0DVJH0lOQNNRbbBfzk7vq",
          "confirmation_method": "automatic",
          "created": 1738617313,
          "currency": "eur",
          "customer": null,
          "description": "http://localhost:3000 - 1 year",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_test_charge",
          "livemode": false,
          "metadata": {
            "order_id": "857",
            "product_name": "1 year",
            "site_url": "http://localhost:3000",
            "steam_uid": "123456789"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_test_payment_method",
          "payment_method_configuration_details": {
            "id": "pmc_test_config",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 03 Feb 2025 21:15:14 GMT
recorded_with: VCR 6.3.1
