@import cyborg

.navbar
  margin-bottom: 0px

.alert
  a
    color: #fff

.datetimepicker table tr td span:hover, .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover
  background: #555
