@import slate

.navbar
  margin-bottom: 0px
  .account
    color: rgb(200, 200, 200)
    a
      color: rgb(200, 200, 200)

.alert
  a
    color: #fff

.datetimepicker table tr td span:hover, .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover
  background: #555

.jumbotron
  .available_servers
    color: rgb(200, 200, 200)
